<div class="container">
    <hr>
    <section class="row py-3">
        <div class="col">
            <div class="col d-flex py-3 px-2 mb-2 border justify-content-between ">
                <div class="d-flex align-items-center">
                    <div class="pe-4">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/434/011/products/untitleddesign8-fe55934b-c5f4-4408-bcd0-febaadacd8c4.jpg?v=1645085200483"
                            alt="" width="60px">
                    </div>
                    <div>
                        <p class="fs-5">Test combo Sirius Mew - SUMI <br> <span class="fs-6">Đỏ / X / Nhựa</span></p>
                        <div class="input-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-secondary">-</button>
                            <span class="input-group-text w-25 justify-content-center">1</span>
                            <button type="button" class="btn btn-secondary">+</button>
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="text-danger fs-5 fw-semibold">1.200.000 đ</p>
                    <button class="btn btn-outline-danger mt-5 ms-5 btn-sm">Xóa</button>
                </div>
            </div>
            <div class="col d-flex py-3 px-2 mb-2 border justify-content-between ">
                <div class="d-flex align-items-center">
                    <div class="pe-4">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/434/011/products/untitleddesign8-fe55934b-c5f4-4408-bcd0-febaadacd8c4.jpg?v=1645085200483"
                            alt="" width="60px">
                    </div>
                    <div>
                        <p class="fs-5">Test combo Sirius Mew - SUMI <br> <span class="fs-6">Đỏ / X / Nhựa</span></p>
                        <div class="input-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-secondary">-</button>
                            <span class="input-group-text w-25 justify-content-center">1</span>
                            <button type="button" class="btn btn-secondary">+</button>
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="text-danger fs-5 fw-semibold">1.200.000 đ</p>
                    <button class="btn btn-outline-danger mt-5 ms-5 btn-sm">Xóa</button>
                </div>
            </div>
            <div class="col d-flex py-3 px-2 mb-2 border justify-content-between ">
                <div class="d-flex align-items-center">
                    <div class="pe-4">
                        <img src="https://bizweb.dktcdn.net/thumb/small/100/434/011/products/untitleddesign8-fe55934b-c5f4-4408-bcd0-febaadacd8c4.jpg?v=1645085200483"
                            alt="" width="60px">
                    </div>
                    <div>
                        <p class="fs-5">Test combo Sirius Mew - SUMI <br> <span class="fs-6">Đỏ / X / Nhựa</span></p>
                        <div class="input-group" role="group" aria-label="Basic mixed styles example">
                            <button type="button" class="btn btn-secondary">-</button>
                            <span class="input-group-text w-25 justify-content-center">1</span>
                            <button type="button" class="btn btn-secondary">+</button>
                        </div>
                    </div>
                </div>
                <div class="">
                    <p class="text-danger fs-5 fw-semibold">1.200.000 đ</p>
                    <button class="btn btn-outline-danger mt-5 ms-5 btn-sm">Xóa</button>
                </div>
            </div>
        </div>
        <div class="col col-lg-4">
            <div class="mx-auto">
                <div class="bg-warning rounded-3 px-1 ">
                    <p class="fs-4 d-flex justify-content-between text-white fw-semibold py-4 ">TỔNG <span
                            class="">3.600.000 đ</span></p>
                </div>
                <div class="d-grid gap-4 mx-auto">
                    <button class="btn-outline-success btn px-5  fw-semibold mt-3">THANH TOÁN</button>
                    <button class="btn-danger btn fw-semibold">Xóa tất cả</button>
                </div>
            </div>
        </div>
    </section>
</div>