<div class="container" *ngIf="product">
    <hr>
    <p class="fs-2 fw-bold">{{product.data?.name}}</p>
    <section class="row py-3 grid ">
        <div class="col">
            <div>
                <img src="{{product.data?.image}}" width="600px" height="600px" class="rounded-2">
            </div>
            <div class="py-3">
                <img src="{{product.data?.image}}" alt="" width="100px" height="100px" class="me-2 rounded-2">
                <img src="{{product.data?.image}}" alt="" width="100px" height="100px" class="me-2 rounded-2">
                <img src="{{product.data?.image}}" alt="" width="100px" height="100px" class="me-2 rounded-2">
                <img src="{{product.data?.image}}" alt="" width="100px" height="100px" class="me-2 rounded-2">
            </div>
        </div>

        <div class="col">
            <p class="fs-4">Tình trạng: <span class="text-success fw-semibold">Còn hàng</span> | Thương hiệu: <span
                    class="text-success fw-semibold">Mew Yummy</span></p>
            <p class="fs-4">Loại: <span class="text-success fw-semibold">Combo</span></p>
            <hr>
            <p class="fs-4 ">Đang cập nhật</p>
            <p class="my-5">
                <span class="fs-1 fw-bold text-success ms-3 me-5">{{product.data?.price}}<span
                        class="text-decoration-underline">đ</span></span>
                <span class="text-decoration-line-through fw-bold fs-5 text-secondary">750.000<span
                        class="text-decoration-underline">đ</span></span>
            </p>
            <p class="fs-4">Số lượng <button class="btn btn-outline-success px-3 ms-4 me-3 ">-</button>
                <button class="btn btn-outline-success px-3 me-3 ">+</button>
                <input type="number" class="form-control-sm py-2 border border-success">
            </p>
            <div class="py-2">
                <button type="button" class="btn btn-success px-4 py-2 fs-4 fw-semibold me-4 ">
                    <i class="bi bi-cart4"></i>
                    Thêm vào giỏ hàng</button>
                <button class="btn btn-warning px-4 py-2 fs-4 fw-semibold text-white">Mua ngay</button>
            </div>
            <div
                class="text-center border rounded-3 bg-warning py-2 mt-4 d-flex align-content-center justify-content-center">
                <p class="fs-5 pt-2"><i class="bi bi-person-workspace "></i>
                    Gọi ngay <span class="fs-4 fw-bold text-success">0344 891 321</span> để được tư vấn tốt nhất!</p>
            </div>
        </div>
    </section>
    <section class="border rounded-2 p-2 mb-2">
        <p class="fs-2 fw-bold">THÔNG TIN CHI TIẾT</p>
        <hr>
        <div class="fs-5">
            <!-- Mew Mech – Thương hiệu keycap Artisan được sản xuất thủ công từng chiếc một. Những bạn trẻ thể hiện niềm đam mê mãnh liệt của họ với keycap dành cho bàn phím cơ nói riêng và nghệ thuật nói chung. Các sản phẩm keycap thủ công đến từ Mew Mech mang trong mình vẻ đẹp độc đáo giúp tô điểm bàn phím cơ của bạn.
            <ul class="pt-3 fst-italic">
                <li>Sáng tác nghệ thuật CONG VU</li>
                <li>Một trong dòng sưu tập Sirius</li>
                <li>Nhanh tay đặt trước - Phiên bản chỉ có giới hạn</li>
            </ul>
            <ol class="fst-italic">
                <li>Có hộp ARTISAN đi kèm</li>
                <li>Có ngay 1 cơ hội nhận quà ngẫu nhiên may mắn vào livestream cuối tuần cùng tác giả.</li>
            </ol> -->{{product.data?.description}}
        </div>
    </section>
</div>