<div class="container">
    <div class="container position-relative">
        <ul class="breadcrumb align-items-center m-0 pl-0 pr-0 border-bottom border-top py-2 ">
            <li class="home">
                <a href="/" title="Trang chủ" class="text-decoration-none">Trang chủ</a>
                <span class="slash-divider ml-2 mr-2">/</span>
            </li>
            <li>Tất cả sản phẩm</li>
        </ul>
    </div>
    <section class="collection-layout pt-3">
        <div class="container">
            <h1 class="collection-name font-weight-bold mb-lg-3 text-uppercase pb-2 pt-2 mb-2">
                Tất cả sản phẩm
            </h1>
            <!-- banner -->
            <div
                class="banner_collection mb-3 swiper-container position-relative swiper-container-initialized swiper-container-horizontal swiper-container-pointer-events">
                <img src="https://bizweb.dktcdn.net/100/434/011/themes/845632/assets/slide-img2.png?1684494777622"
                    alt="" width="100%">
            </div>
            <div class="row">
                <div class="col-12 col-lg-9 order-lg-2 pt-3 pt-lg-0">
                    <!-- form check -->
                    <div class="sortPagiBar pt-2 pb-2 border-bottom border-top ">
                        <b style="vertical-align: 1px;">Sắp xếp: </b>
                        <div class="form-check-inline">
                            <label class="form-check-label d-inline-flex align-items-center crp">
                                <input type="radio" class="form-check-input sortby-alpha-asc border-success"
                                    name="sortBy">A → Z
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label d-inline-flex align-items-center crp">
                                <input type="radio" class="form-check-input sortby-alpha-desc border-success"
                                    name="sortBy">Z → A
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label d-inline-flex align-items-center crp">
                                <input type="radio" class="form-check-input sortby-price-asc border-success"
                                    name="sortBy">Giá tăng dần
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label d-inline-flex align-items-center crp">
                                <input type="radio" class="form-check-input sortby-price-desc border-success"
                                    name="sortBy">Giá giảm dần
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label d-inline-flex align-items-center crp">
                                <input type="radio" class="form-check-input sortby-created-desc border-success"
                                    name="sortBy">Mới nhất
                            </label>
                        </div>
                        <div class="form-check-inline">
                            <label class="form-check-label d-inline-flex align-items-center crp">
                                <input type="radio" class="form-check-input sortby-created-asc border-success"
                                    name="sortBy">Cũ nhất
                            </label>
                        </div>
                    </div>

                    <div class="collection">
                        <div class="position-relative mt-4 mb-4">
                            <div class="row slider-items">
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 product-grid-item-lm mb-3 ">
                                    <div class="product-item position-relative p-2 border rounded">
                                        <div class="sale-label sale-top-right position-absolute">
                                            <span
                                                class="font-weight-bold text-white p-2 text-bg-danger rounded">-20%</span>
                                        </div>
                                        <a href="#">
                                            <img src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/untitleddesign8-fe55934b-c5f4-4408-bcd0-febaadacd8c4.jpg?v=1645085200483"
                                                alt="" width="100%">
                                        </a>
                                        <div class="mt-1 position-relative ">
                                            <h3 class="hovertext">
                                                <a href="#" class="text-decoration-none fs-5 text-dark">Test combo
                                                    Sirius</a>
                                            </h3>
                                            <div class="mb-1">
                                                <span
                                                    class="special-price font-weight-bold text-danger">1.200.000₫</span>
                                                <del class="old-price text-black-50 "> 1.500.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 product-grid-item-lm mb-3 ">
                                    <div class="product-item position-relative p-2 border rounded">
                                        <div class="sale-label sale-top-right position-absolute">
                                            <span
                                                class="font-weight-bold text-white p-2 text-bg-danger rounded">-20%</span>
                                        </div>
                                        <a href="#">
                                            <img src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/combo-an-khang.jpg?v=1641401523777"
                                                alt="" width="100%">
                                        </a>
                                        <div class="mt-1 position-relative ">
                                            <h3 class="hovertext">
                                                <a href="#" class="text-decoration-none fs-5 text-dark">combo An
                                                    Khang</a>
                                            </h3>
                                            <div class="mb-1">
                                                <span class="special-price font-weight-bold text-danger">699.000₫</span>
                                                <del class="old-price text-black-50"> 750.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 product-grid-item-lm mb-3 ">
                                    <div class="product-item position-relative p-2 border rounded">
                                        <div class="sale-label sale-top-right position-absolute">
                                            <span
                                                class="font-weight-bold text-white p-2 text-bg-danger rounded">-20%</span>
                                        </div>
                                        <a href="#">
                                            <img src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/combo-thinh-vuong.jpg?v=1641401485353"
                                                alt="" width="100%">
                                        </a>
                                        <div class="mt-1 position-relative ">
                                            <h3 class="hovertext">
                                                <a href="#" class="text-decoration-none fs-5 text-dark">Combo Thịnh
                                                    Vượng</a>
                                            </h3>
                                            <div class="mb-1">
                                                <span class="special-price font-weight-bold text-danger">299.000₫</span>
                                                <del class="old-price text-black-50 "> 350.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6 product-grid-item-lm mb-3 ">
                                    <div class="product-item position-relative p-2 border rounded">
                                        <div class="sale-label sale-top-right position-absolute">
                                            <span
                                                class="font-weight-bold text-white p-2 text-bg-danger rounded">-20%</span>
                                        </div>
                                        <a href="#">
                                            <img src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/combo-nhu-y.jpg?v=1641401445810"
                                                alt="" width="100%">
                                        </a>
                                        <div class="mt-1 position-relative ">
                                            <h3 class="hovertext">
                                                <a href="#" class="text-decoration-none fs-5 text-dark">Combo Thịnh
                                                    Vượng</a>
                                            </h3>
                                            <div class="mb-1">
                                                <span
                                                    class="special-price font-weight-bold text-danger">1.299.000₫</span>
                                                <del class="old-price text-black-50 "> 1.500.000₫</del>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Phân trang -->

                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-3 order-lg-1">
                    <div class="sidebar sidebar_mobi m-0 p-2 p-lg-0 mt-lg-1 d-flex flex-column">
                        <div class="heading d-none">
                            <div class="h2 title-head font-weight-bold big text-uppercase mt-2 mb-0">
                                Bộ lọc sản phẩm
                            </div>
                            <p class="font-italic pt-2 pb-2 mb-0">Giúp lọc nhanh sản phẩm bạn tìm kiếm</p>
                        </div>
                        <div class="aside-filter mb-3 modal-open w-100 pr-0 pr-md-2 order-lg-3">
                            <div class="filter-container row">
                                <aside class="aside-item filter-price mb-3 col-12 col-sm-12 col-lg-12">
                                    <div class="h5 title-head m-0 pt-2 pb-2 font-weight-bold">Lọc giá</div>
                                    <div class="aside-content filter-group mb-1">
                                        <div class="row">
                                            <div class="col-6 col-lg-12 col-xl-6">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0"
                                                    for="filter-khoanggia-tu">
                                                    <input type="text" id="filter-khoanggia-tu" class="form-control"
                                                        value="" placeholder="Giá tối thiểu ">
                                                </label>
                                            </div>
                                            <div class="col-6 col-lg-12 col-xl-6">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0"
                                                    for="filter-khoanggia-den">
                                                    <input type="text" id="filter-khoanggia-den" class="form-control"
                                                        value="" placeholder=" Giá tối đa ">
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="btn btn-success js-filter-pricerange font-weight-bold text-bg-success"
                                        href="javascript:;">Áp dụng</a>
                                </aside>
                                <aside class="aside-item filter-vendor mb-3 col-12 col-sm-6 col-lg-12">
                                    <div class="h5 title-head m-0 pt-2 pb-2 font-weight-bold">Thương hiệu</div>
                                    <div class="aside-content filter-group">
                                        <ul class="filter-vendor list-unstyled m-0">
                                            <li class="filter-item filter-item--check-box  ">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0 dao-hai-san">
                                                    Đảo hải sản
                                                </label>
                                            </li>
                                            <li class="filter-item filter-item--check-box  ">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0 datlat-farm">
                                                    Datlat Farm
                                                </label>
                                            </li>
                                            <li class="filter-item filter-item--check-box  ">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0 green-food">
                                                    Green Food
                                                </label>
                                            </li>
                                            <li class="filter-item filter-item--check-box  ">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0 hai-san-hp">
                                                    Hải Sản HP
                                                </label>
                                            </li>
                                            <li class="filter-item filter-item--check-box  ">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0 kingbeef">
                                                    KingBeef
                                                </label>
                                            </li>
                                            <li class="filter-item filter-item--check-box  ">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0 mew-mech">
                                                    Mew Mech
                                                </label>
                                            </li>
                                            <li class="filter-item filter-item--check-box  ">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0 mew-yummy">
                                                    Mew Yummy
                                                </label>
                                            </li>
                                            <li class="filter-item filter-item--check-box  ">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0">
                                                    Trùm trái cây Hà Giang
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                                <aside class="aside-item filter-type mb-3 col-12 col-sm-6 col-lg-12">
                                    <div class="h5 title-head m-0 pt-2 pb-2 font-weight-bold">Loại</div>
                                    <div class="aside-content filter-group">
                                        <ul class="filter-type list-unstyled m-0">
                                            <li class="filter-item filter-item--check-box">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0">
                                                    Combo
                                                </label>
                                            </li>
                                            <li class="filter-item filter-item--check-box">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0">
                                                    Hải sản sống
                                                </label>
                                            </li>
                                            <li class="filter-item filter-item--check-box">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0">
                                                    Midnight-Pop Mew
                                                </label>
                                            </li>
                                            <li class="filter-item filter-item--check-box">
                                                <label class="d-flex align-items-baseline pt-1 pb-1 m-0">
                                                    Thịt nhập khẩu
                                                </label>
                                            </li>
                                        </ul>
                                    </div>
                                </aside>
                            </div>
                        </div>
                        <div class="filter-container__selected-filter d-none order-lg-2">
                            <div class="filter-container__selected-filter-header d-flex clearfix pt-1 pb-1">
                                <span class="filter-container__selected-filter-header-title">Lọc theo:</span>

                            </div>
                            <ul class="filter-container__selected-filter-list pl-0 m-0 list-unstyled d-block w-100">
                            </ul>
                        </div>
                        <!-- Danh mục -->
                        <div class="aside-content d-none d-lg-block order-lg-1">
                            <div class="h4 title-head font-weight-bold big text-uppercase p-2 rounded text-bg-success">
                                Danh mục
                            </div>
                            <nav class="nav-category navbar-toggleable-md pb-3">
                                <ul class="nav navbar-pills flex-column">


                                    <li class="nav-item position-relative  position-relative">
                                        <a title="Thịt trứng" href="/thit-trung" class="nav-link pl-0 pr-5">Thịt
                                            trứng</a>
                                      
                                    </li>

                                    <li class="nav-item position-relative  position-relative">
                                        <a title="Hải sản" href="/hai-san" class="nav-link pl-0 pr-5">Hải sản</a>
                                       
                                    </li>

                                    <li class="nav-item position-relative  position-relative">
                                        <a title="Rau củ" href="/rau-cu" class="nav-link pl-0 pr-5">Rau củ</a>

                                    <li class="nav-item position-relative  position-relative">
                                        <a title="Trái cây" href="/trai-cay" class="nav-link pl-0 pr-5">Trái cây</a>
                                        <i
                                            class="open_mnu down_icon align-items-center justify-content-center position-absolute"></i>
                                    </li>

                                    <li class="nav-item position-relative  position-relative">
                                        <a title="Đồ khô" href="/do-kho" class="nav-link pl-0 pr-5">Đồ khô</a>
                                        <i
                                            class="open_mnu down_icon align-items-center justify-content-center position-absolute"></i>
                                    </li>

                                    <li class="nav-item position-relative  position-relative">
                                        <a title="Gia vị" href="/gia-vi" class="nav-link pl-0 pr-5">Gia vị</a>
                                        <i
                                            class="open_mnu down_icon align-items-center justify-content-center position-absolute"></i>
                                    </li>
                                </ul>
                            </nav>
                        </div>

                        <!-- Mẹo an ngon -->
                        <div class="aside-item mb-2 pt-2 order-3 d-none d-lg-block ">
                            <a class="h4 title-head font-weight-bold big text-uppercase d-block mb-2 p-2 rounded text-bg-success text-decoration-none"
                                href="tin-tuc" title="Mẹo ăn ngon">
                                Mẹo ăn ngon
                            </a>
                            <div class="list-blogs">

                                <article
                                    class="d-flex blog-item blog-item-list clearfix border-bottom pt-2 pb-2 align-items-center">
                                    <div class="img_art thumb_img_blog_list px-2">
                                        <a href="#">
                                            <div
                                                class="position-relative w-100 m-0 be_opa modal-open ratio3by2 has-edge aspect rounded">
                                                <img src="https://bizweb.dktcdn.net/thumb/large/100/434/011/articles/untitled-design-8-1-5.jpg?v=1640277188903"
                                                    width="100%">
                                            </div>
                                        </a>

                                    </div>
                                    <h3 class="">
                                        <a href="" class=" text-decoration-none fs-6 text-auto w-100">Hướng dẫn 5 cách
                                            làm món cá hồi sốt vừa ngon, vừa nhiều dinh dưỡng cho gia đình</a>
                                    </h3>
                                </article>



                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
</div>