<div class="">
    <div class="d-flex">
        <div class="bg-dark">
            <div class=" text-center" style="width: 200px; height: 720px;">
                
                <div class="">
                    <ul class="list-unstyled ">
                        <li class="border border-white m-4 p-2 rounded d-flex justify-content-start">
                            <i class="bi bi-speedometer2 text-light mx-2"></i>
                            <a class="text-decoration-none text-light mx-2"
                                routerLink="dashboard">Dashboard
                            </a>
                        </li>
                        <li class="border border-white m-4 p-2 rounded d-flex justify-content-start">
                            <i class="bi bi-list text-light mx-2"></i>
                            <a class="text-decoration-none text-light mx-2"
                                routerLink="product">Product
                            </a>
                        </li>
                        <li class="border border-white m-4 p-2 rounded d-flex justify-content-start">
                            <i class="bi bi-list text-light mx-2"></i>
                            <a class="text-decoration-none text-light mx-2"
                                routerLink="category">Category
                            </a>
                        </li>
                    </ul>
                </div>
                <div>
                    
                </div>
            </div>
        </div>

        <div class="m-5">
            <router-outlet />
        </div>
    </div>

</div>