<div class="">
    <div class="d-flex">
        <div class="bg-dark">
            <div class=" text-center" style="width: 300px; height: 720px;">
                <div class="m-4">
                    <img src="https://vcdn1-dulich.vnecdn.net/2021/07/16/8-1626444967.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=GfgGn4dNuKZexy1BGkAUNA"
                        alt="" width="100">
                </div>
                <div>
                    <ul class="list-unstyled ">
                        <li class="border border-white m-4 p-2 rounded"><a class="text-decoration-none text-light"
                                routerLink="dashboard">Dashboard</a></li>
                        <li class="border border-white m-4 p-2 rounded"><a class="text-decoration-none text-light"
                                routerLink="product">product</a></li>
                        <li class="border border-white m-4 p-2 rounded"><a class="text-decoration-none text-light"
                                routerLink="product/add">Add product</a></li>
                        <li class="border border-white m-4 p-2 rounded"><a class="text-decoration-none text-light"
                                routerLink="category">category</a></li>
                        <li class="border border-white m-4 p-2 rounded"><a class="text-decoration-none text-light"
                                routerLink="category/addd">Add category</a></li>
                    </ul>
                </div>
                <div>

                </div>
            </div>
        </div>

        <div class="m-5">
            <router-outlet />
        </div>
    </div>

</div>