
    <div >
        
     
        
        <div class="bg-success mt-3" style="height: 43px; ">
            <ul class="d-flex list-unstyled list-inline container pt-2 text-white fw-semibold">
                <li class="list-inline-item me-5">Trang chủ</li>
                <li class="list-inline-item me-5">Về Mew Yummy</li>
                <li class="list-inline-item me-5 align-items-center d-flex">Sản phẩm <i class="text-13"><i class="bi bi-caret-down-fill"></i></i></li>
                <li class="list-inline-item me-5 ">Tin tức <i class="text-13"><i class="bi bi-caret-down-fill"></i></i></li>
                <li class="list-inline-item me-5 ">Tuyển dụng</li>
                <li class="list-inline-item me-5">Liên hệ</li>
                <li class="list-inline-item me-5 ms-5"><i><i class="bi bi-pin-map-fill"></i></i>
                    Hệ thống của hàng</li>
            </ul>
            
        </div>

        <div class="">
            <img src="https://bizweb.dktcdn.net/100/434/011/themes/845632/assets/slide-img1.png?1684494777622" alt="">
        </div>
        <div class="mt-4 d-flex align-items-center justify-content-between container mb-5  ">
            <div class="d-flex align-items-center">
                <i class="fs-3 text-success me-2"><i class="bi bi-capsule-pill"></i></i><a class="text-decoration-none text-black-50" href="">Sản phẩm an toàn</a>
            </div>
            <div class="d-flex align-items-center">
                <i class="fs-3 text-success me-2"><i class="bi bi-patch-check-fill"></i></i> <a class="text-decoration-none text-black-50" href="">Chất lượng cam kêt</a>
            </div>
            <div class="d-flex align-items-center">
                <i class="fs-3 text-success me-2"><i class="bi bi-calendar-check-fill"></i></i><a class="text-decoration-none text-black-50" href="">Dịch vụ vượt trội</a>
            </div>
            <div class="d-flex align-items-center">
                <i class="fs-3 text-success me-2"><i class="bi bi-truck"></i></i><a class="text-decoration-none text-black-50" href="">Giao hàng nhanh chóng</a>
            </div>
        </div>

        <div class="container mt-5 mb-5">
           <div class="row">
            <h3>DANH MỤC NỔI BẬT
            </h3>
            <div class="col d-flex mt-4 bg-success me-4 rounded-3 pb-3">
                <div class="pt-3 ps-2 text-white">
                    <span class="fw-semibold fs-5 ">Thịt trứng</span><br>
                    <span>Trứng gà</span><br>
                    <span>Thịt heo</span><br>
                    <span>Thịt gà</span><br>
                    <span>Thịt các loại ...</span>
                </div>
                <img src="https://bizweb.dktcdn.net/thumb/compact/100/434/011/collections/untitled-design-2.png?v=1639500775663" alt="">
            </div>
            <div class="col d-flex mt-4 bg-success me-4 rounded-3 pb-3">
                <div class="pt-3 ps-2 text-white">
                    <span class="fw-semibold fs-5 ">Hải Sản</span><br>
                    <span>Tôm</span><br>
                    <span>Cua</span><br>
                    <span>Mực</span><br>
                    <span>Hải sản khác ...</span>
                </div>
                <img src="https://bizweb.dktcdn.net/thumb/compact/100/434/011/collections/untitled-design-3.png?v=1639501059257" alt="">
            </div>
            <div class="col d-flex mt-4 bg-success me-4 rounded-3 pb-3">
                <div class="pt-3 ps-2 text-white">
                    <span class="fw-semibold fs-5 ">Rau củ </span><br>
                    <span>Rau củ đủ loại</span><br>
                    <span>Củ quả tươi</span><br>
                    <span>Nấm các loại</span><br>
                    <span>Rau thơm </span>
                </div>
                <img src="https://bizweb.dktcdn.net/thumb/compact/100/434/011/collections/1-21212-original.png?v=1639500389063" alt="">
            </div>
            <div class="col d-flex mt-4 bg-success me-4 rounded-3 pb-3">
                <div class="pt-3 ps-2 text-white">
                    <span class="fw-semibold fs-5 ">Trái cây</span><br>
                    <span>Trái cây tươi</span><br>
                    <span>Trái cây khô</span><br>
                    <span>Trái cây đông</span><br>
                    <span>Hoa quả khác..</span>
                </div>
                <img src="https://bizweb.dktcdn.net/thumb/compact/100/434/011/collections/2-50732-original.png?v=1639500398340" alt="">
            </div>
           </div>
        </div>
        <div class="container mt-5 mb-5">
            <div class="row">
                <h3>FLASH SALE HÀNG TUẦN</h3>    
                <div class="border border-secondary-50  rounded col me-2 pb-4 mt-4">
                    <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/2-75696-1635163634.jpg?v=1640273131000 " alt=""><br>
                    <a class="text-decoration-none bg-danger text-white  rounded-4 text-size fw-semibold"  href="">CHÁY HÀNG</a><br>
                    <span class="fw-semibold text-secondary ">Ớt ngọt đà lạt</span><br>
                    <span class="text-danger fw-semibold">35.000 đ</span>
                    
                </div>
                <div class="border border-secondary-50  rounded col me-2 mt-4 position-relative">
                    <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/4-63105-1635163842.jpg?v=1640273076857" alt=""><br>
                    <a class="text-decoration-none bg-danger text-white  rounded-4 text-size fw-semibold"  href="">CHÁY HÀNG</a><br>
                    <span class="fw-semibold text-secondary ">Hàng tây củ</span><br>
                    <span class="text-danger fw-semibold">15.000 đ</span>
                    <a class="text-decoration-none bg-danger text-white ps-1 pe-1 rounded position-absolute top-0 end-0 mt-2 me-2 text-13 fw-semibold" href="">- 40%</a>
                </div>
                <div class="border border-secondary-50  rounded col me-2 mt-4 position-relative">
                    <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/5-68929-1635163955.jpg?v=1640273007370" alt=""><br>
                    <a class="text-decoration-none bg-danger text-white  rounded-4 text-size fw-semibold"  href="">CHÁY HÀNG</a><br>
                    <span class="fw-semibold text-secondary">Snack lá ngắn</span><br>
                    <span class="text-danger fw-semibold">60.000 đ</span>
                    <a class="text-decoration-none bg-danger text-white ps-1 pe-1 rounded position-absolute top-0 end-0 mt-2 me-2 text-13 fw-semibold" href="">- 20%</a>
                </div>
                <div class="border border-secondary-50  rounded col me-2 mt-4 position-relative">
                    <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/6-73706-1635163956.jpg?v=1640272762203" alt=""><br>
                    <a class="text-decoration-none bg-danger text-white  rounded-4 text-size fw-semibold"  href="">CHÁY HÀNG</a><br>
                    <span class="fw-semibold text-secondary">Cam canh Hà Giang</span><br>
                    <span class="text-danger fw-semibold">60.000 đ</span>
                    <a class="text-decoration-none bg-danger text-white ps-1 pe-1 rounded position-absolute top-0 end-0 mt-2 me-2 text-13 fw-semibold" href="">- 14%</a>
                </div>
                <div class="border border-secondary-50  rounded col mt-4 position-relative">
                    <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/22-46847-1635164711.jpg?v=1640272682750 " alt=""><br>
                    <a class="text-decoration-none bg-danger text-white  rounded-4 text-size fw-semibold"  href="">CHÁY HÀNG</a><br>
                    <span class="fw-semibold text-secondary">Nho không hạt</span><br>
                    <span class="text-danger fw-semibold">235.000 đ</span>
                    <a class="text-decoration-none bg-danger text-white ps-1 pe-1 rounded position-absolute top-0 end-0 mt-2 me-2 text-13 fw-semibold" href="">- 17%</a>
                </div>
            </div>

        </div>

        <div class="container ">
            <img class="w-100 rounded" src="https://bizweb.dktcdn.net/100/434/011/themes/845632/assets/banner4_1.jpg?1684494777622" alt="">
        </div>

        <div class="container mt-5 mb-5" >
            <h3>THỊT BÒ NHẬP KHẨU</h3>
            <div class="d-flex align-items-center mt-4 position-relative">
                <img class="w-25 rounded " src="https://bizweb.dktcdn.net/100/434/011/themes/845632/assets/bn_pr_3.png?1684494777622" alt="">
                <div class="row mb-4">
                    <div class="col ms-5 border border-secondary-50 pt-4 pb-2 rounded position-relative" *ngFor="let product of products">
                        <img class="w-100" [src]="product.image" alt=""><br>
                        <span class="fw-semibold">{{product.name}}</span><br>
                        <span class="text-danger fw-semibold">{{product.price | currency}}</span> <del class="text-secondary text-13 ps-2">500.000đ</del>
                        <a class="text-decoration-none bg-danger text-white ps-1 pe-1 rounded position-absolute top-0 end-0 mt-2 me-2 text-13 fw-semibold" href="">- 10%</a>
                    </div>
                    <div class="col ms-3 border border-secondary-50 pt-4 pb-2 rounded">
                        <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/mewyummy-3.jpg?v=1640271306387" alt=""><br>
                        <span class="fw-semibold">Dẻ Sườn Bò Mỹ, Short Rib..</span><br>
                        <span class="text-danger fw-semibold">205.000đ</span> 
                    </div>
                    <div class="col ms-3 border border-secondary-50 pt-4 pb-2 rounded">
                        <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/mewyummy-5.jpg?v=1640271349670" alt=""><br>
                        <span class="fw-semibold">Sườn Bò Mỹ,Rib FinGer...</span><br>
                        <span class="text-danger fw-semibold">259.000đ</span> 
                    </div>
                    <div class="col ms-3 border border-secondary-50 pt-4 pb-2 rounded position-relative">
                        <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/mewyummy-4.jpg?v=1640271260323" alt=""><br>
                        <span class="fw-semibold ">Lõi Nạc Vai Bò Mỹ, Top Bl..</span><br>
                        <span class="text-danger fw-semibold">194.000đ</span> <del class="text-secondary text-13 ps-2">250.000đ</del>
                        <a class="text-decoration-none bg-danger text-white ps-1 pe-1 rounded position-absolute top-0 end-0 mt-2 me-2 text-13 fw-semibold" href="">- 22%</a>
                    </div><br>
                   
                </div>
                <a class="text-decoration-none bg-success text-white  rounded-4 px-2   position-absolute bottom-0 postion"  href="">Xem thêm</a>
            </div>
           
            <div class="container margin-top  ">
                <h3>HẢI SẢN TƯƠI</h3>
                <div class="d-flex ">
                    <div class="row mt-4">
                        <div class="col me-3 border border-secondary-50 pt-4 pb-2 rounded position-relative">
                            <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/mewyummy-4-223a1b44-308a-472d-9e2d-9235f67f9611.jpg?v=1640272077490" alt=""><br>
                            <span class="fw-semibold">Ghẹ Xanh Sống</span><br>
                            <span class="text-danger fw-semibold">350.000đ</span> 
                        </div>
                        <div class="col me-3 border border-secondary-50 pt-4 pb-2 rounded position-relative">
                            <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/mewyummy-1-5aa6bc92-507b-4bcb-8428-6a5d7934486d.jpg?v=1640272055477" alt=""><br>
                            <span class="fw-semibold">Tôm Càng Xanh Sống </span><br>
                            <span class="text-danger fw-semibold">340.000đ</span> <del class="text-secondary text-13 ps-2">440.000đ</del>
                            <a class="text-decoration-none bg-danger text-white ps-1 pe-1 rounded position-absolute top-0 end-0 mt-2 me-2 text-13 fw-semibold" href="">- 23%</a>
                        </div>
                        <div class="col me-3 border border-secondary-50 pt-4 pb-2 rounded position-relative">
                            <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/mewyummy-3-a53482dc-54e0-4a15-b4cd-221c63ce11c8.jpg?v=1640272016053" alt=""><br>
                            <span class="fw-semibold">Ngao Hai Cồi Sống</span><br>
                            <span class="text-danger fw-semibold">130.000đ</span> 
                        </div>
                        <div class="col me-5 border border-secondary-50 pt-4 pb-2 rounded position-relative">
                            <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/mewyummy-5-c4cfdbdc-d493-4f92-b9e2-a0c8880e0696.jpg?v=1640271995913" alt=""><br>
                            <span class="fw-semibold">Bào Ngư Hàn Quốc Sống Lớn</span><br>
                            <span class="text-danger fw-semibold">750.000đ</span>
                        </div>
                    </div>
                    <img class="w-25 rounded mt-4" src="https://bizweb.dktcdn.net/100/434/011/themes/845632/assets/bn_pr_4.png?1684494777622" alt="">
                </div>
            </div>

            <div class="container margin-top mb-5">
                <h3>RAU CỦ QUẢ</h3>
                <div class="d-flex  mt-4 position-relative">
                    <img class="w-25 rounded " src="https://bizweb.dktcdn.net/100/434/011/themes/845632/assets/bn_pr_5.png?1684494777622" alt="">
                    <div class="row mb-5">
                        <div class="col ms-5 border border-secondary-50 pt-4 pb-2 rounded position-relative">
                            <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/2-75696-1635163634.jpg?v=1640273131000" alt=""><br>
                            <span class="fw-semibold">Ớt Ngọt Đà Lạt</span><br>
                            <span class="text-danger fw-semibold">35.000đ</span> 
                        </div>
                        <div class="col ms-3 border border-secondary-50 pt-4 pb-2 rounded position-relative">
                            <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/4-63105-1635163842.jpg?v=1640273076857" alt=""><br>
                            <span class="fw-semibold">Hành Tây Củ</span><br>
                            <span class="text-danger fw-semibold">15.000đ</span> <del class="text-secondary text-13 ps-2">35.000đ</del>
                            <a class="text-decoration-none bg-danger text-white ps-1 pe-1 rounded position-absolute top-0 end-0 mt-2 me-2 text-13 fw-semibold" href="">- 40%</a>
                        </div>
                        <div class="col ms-3 border border-secondary-50 pt-4 pb-2 rounded position-relative">
                            <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/5-68929-1635163955.jpg?v=1640273007370" alt=""><br>
                            <span class="fw-semibold">Snack lá ngắn</span><br>
                            <span class="text-danger fw-semibold">60.000đ</span>  <del class="text-secondary text-13 ps-2">70.000đ</del>
                            <a class="text-decoration-none bg-danger text-white ps-1 pe-1 rounded position-absolute top-0 end-0 mt-2 me-2 text-13 fw-semibold" href="">- 20%</a>
                        </div>
                        <div class="col ms-3 border border-secondary-50 pt-4 pb-2 rounded position-relative">
                            <img class="w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/products/1-91737-1635163634.jpg?v=1640272919337" alt=""><br>
                            <span class="fw-semibold ">Cam Vàng Không Hạt</span><br>
                            <span class="text-danger fw-semibold">35.000đ</span> <del class="text-secondary text-13 ps-2">50.000đ</del>
                            <a class="text-decoration-none bg-danger text-white ps-1 pe-1 rounded position-absolute top-0 end-0 mt-2 me-2 text-13 fw-semibold" href="">- 36%</a>
                        </div><br>
                       
                    </div>
                    <a class="text-decoration-none bg-success text-white  rounded-4 px-2   position-absolute bottom-0 postion"  href="">Xem thêm</a>
                </div>
            </div>
        </div>


        <div class="container margin-top mb-5">
            <h3 >KHÁCH HÀNG VỚI MEW YUMMY</h3>
            <div class="d-flex row mt-5">
                <div class="col boxx rounded-2 pt-3 ps-3 me-5 pb-5">
                   <div class="d-flex align-items-center mb-3">
                        <img class="rounded-circle width"  src="https://thuthuatnhanh.com/wp-content/uploads/2018/07/anh-dai-dien-dep.jpg" alt="">
                        <div>
                            <span class="text-success fw-semibold">Thuần đẹp trai</span> <br>
                            <span>Đại sứ thương hiệu</span>
                        </div>
                   </div>
                  <p>
                    Mình rất thích cách làm việc của bên này
                  </p>
                </div>
                <div class="col boxx rounded-2 pt-3 ps-3 pb-5">
                    <div class="d-flex align-items-center mb-3">
                         <img class="rounded-circle width"  src="https://thuthuatnhanh.com/wp-content/uploads/2018/07/anh-dai-dien-dep.jpg" alt="">
                         <div>
                             <span class="text-success fw-semibold">Thuần đẹp trai</span> <br>
                             <span>Đại sứ thương hiệu</span>
                         </div>
                    </div>
                   <p>
                     Mình rất thích cách làm việc của bên này
                   </p>
                 </div>
            </div>
        </div>

        <div class="container  margin-top ">
            <h3>
                MẸO ĂN NGON MỖI NGÀY
            </h3>
            <div class="row mt-5" >
                <div class="col">
                    <img class="rounded boxx w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/articles/untitled-design-8-1-5.jpg?v=1640277188903" alt=""><br>
                    <p class="fw-semibold fs-4">Hướng dẫn làm các món cá hồi</p>
                    <p> Rửa sạch 500g phi lê cá hồi, cắt miếng vừa ăn. Bạn chuẩn bị tỏi, muối, 
                        chanh (1 trái), 100g bơ, 50g tiêu, rượu trắng, muối.
                         Bước 2: Khách ướp cá hồi khoảng 15 phút với tiêu,
                    </p>
                </div>
                <div class="col">
                    <img class="rounded boxx w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/articles/untitled-design-8-1-5-6.jpg?v=1640277245403" alt=""><br>
                    <p class="fw-semibold fs-4">Hướng dẫn làm các món cá hồi</p>
                    <p> Rửa sạch 500g phi lê cá hồi, cắt miếng vừa ăn. Bạn chuẩn bị tỏi, muối, 
                        chanh (1 trái), 100g bơ, 50g tiêu, rượu trắng, muối.
                         Bước 2: Khách ướp cá hồi khoảng 15 phút với tiêu,
                    </p>
                </div>
                <div class="col">
                    <img class="rounded boxx w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/articles/untitled-design-8-1-5-2.jpg?v=1640277200823" alt=""><br>
                    <p class="fw-semibold fs-4">Hướng dẫn làm các món cá hồi</p>
                    <p> Rửa sạch 500g phi lê cá hồi, cắt miếng vừa ăn. Bạn chuẩn bị tỏi, muối, 
                        chanh (1 trái), 100g bơ, 50g tiêu, rượu trắng, muối.
                         Bước 2: Khách ướp cá hồi khoảng 15 phút với tiêu,
                    </p>
                </div>
                <div class="col">
                    <img class="rounded boxx w-100" src="https://bizweb.dktcdn.net/thumb/large/100/434/011/articles/untitled-design-8-1-5-3.jpg?v=1640277257120" alt=""><br>
                    <p class="fw-semibold fs-4">Hướng dẫn làm các món cá hồi</p>
                    <p> Rửa sạch 500g phi lê cá hồi, cắt miếng vừa ăn. Bạn chuẩn bị tỏi, muối, 
                        chanh (1 trái), 100g bơ, 50g tiêu, rượu trắng, muối.
                         Bước 2: Khách ướp cá hồi khoảng 15 phút với tiêu,
                    </p>
                </div>
            </div>
        </div>

       

