
.text-size{
    font-size: 12px;
    padding: 2px 80px 2px 80px;
    background-image: linear-gradient(-90deg, #fda102,#f03613);
  }
  .text-13{
    font-size: 13px;
  }
  .postion{
    left: 730px;
  
  }
  
  .postion1{
    left: 440px;
  }
  .top-3{
    top:10px;
  }
  .width{
    width: 100px;
  }
  .h320{
    height: 310px;
  }
  .boxx{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .w-30{
    width: 220px;
  }
  .margin-top{
    margin-top: 100px;
  }
  .border-top{
    border-top: 10px solid green;
    margin-top: 300px;
  }
  
  
  
  
  
  
  