<h1 class="mb-5">List Product</h1>
<button type="submit" class="mb-5 rounded p-2 bg-primary text-light border-0"><a href="" routerLink="add" class="text-light text-decoration-none">Add product</a></button>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="">#</th>
      <th class="">Name</th>
      <th class="">Price</th>
      <th class="">Description</th>
      <th class="">Image</th>
      <th class="">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr
    app-product-item 
    *ngFor="let product of products;let i = index"
    [product]="product"
    [index] = "i"
    (onRemove) = "onHandleRemove($event)">
    </tr>
  </tbody>
</table>
