<h1 class="mb-5">List Product</h1>
<button type="submit" class="mb-5 rounded p-2 bg-primary text-light border-0"><a href="" routerLink="add" class="text-light text-decoration-none">Add product</a></button>

<router-outlet />

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="">#</th>
      <th class="">Image</th>
      <th class="">Name</th>
      <th class="">Price</th>
      <th class="">description</th>
      <th class="">Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td class=""><img
          src="https://vcdn1-dulich.vnecdn.net/2021/07/16/8-1626444967.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=GfgGn4dNuKZexy1BGkAUNA"
          alt="" width="100"></td>
      <td>Product A</td>
      <td>100</td>
      <td>ABC</td>
      <td class="d-flex">
        <button class="mx-3 my-3 bg-primary text-light rounded border-0 p-2"><a href="" routerLink="edit" class="text-light text-decoration-none">Update</a></button>
        <button class="mx-2 my-3 bg-danger text-light rounded border-0">Remove</button>
      </td>
    </tr>
  </tbody>
</table>