<h1 class="mb-5">List Category</h1>
<button type="submit" class="mb-5 rounded p-2 bg-primary text-light border-0"><a href="" routerLink="addd" class="text-light text-decoration-none">Add category</a></button>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Product A</td>
        <td class="d-flex">
          <button class="mx-3 my-3 bg-primary text-light rounded border-0 p-2"><a href="" routerLink="editt" class="text-light text-decoration-none">Update</a></button>
          <button class="mx-2 my-3 bg-danger text-light rounded border-0">Remove</button>
        </td>
      </tr>
    </tbody>
  </table>
