<h1 class="mb-5">List Category</h1>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th>1</th>
        <th><img src="https://vcdn1-dulich.vnecdn.net/2021/07/16/8-1626444967.jpg?w=1200&h=0&q=100&dpr=1&fit=crop&s=GfgGn4dNuKZexy1BGkAUNA" alt="" width="100"></th>
        <th>Product A</th>
        <th>100</th>
        <th>
            <button class="mx-2 my-3">Remove</button>
            <button class="mx-2 my-3">update</button>
        </th>
      </tr>
    </tbody>
  </table>
