<h1 class="mb-5">List Category</h1>
<button type="submit" class="mb-5 rounded p-2 bg-primary text-light border-0"><a href="" routerLink="add" class="text-light text-decoration-none">Add category</a></button>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>#</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr
          app-category-item
          *ngFor="let category of categories | paginate: {itemsPerPage: 3, currentPage: p }; let i = index"
          [category]="category"
          [index]="i"
          (onRemove)="removeItem(category._id)"
        ></tr>

        <pagination-controls (pageChange)="p =$event"></pagination-controls>
    </tbody>
  </table>
